.pth
gpt2-log/
gpt2-v1/
flan-t5-log/
flan-t5-text2sql/
flan-t5-text2sql-log/
gpt2-text2sql-v1/
t5-customer-service/
t5-customer-service-log/
t5-healthcare/
t5-healthcare-log/
wandb/
backup/*
.env
.pt
/.ipynb_checkpoints